:root
{
    --dgrey:#f7f7f7;
}
.container
{
    width: 80%;
    margin-inline: auto;
}
.home
{
    background-image: url(../imgs/bg.jpg);
    background-size: cover;

}
.home-layer
{
    background-color: rgba(0, 0, 0, 0.585);
}
.home-header h2
{
    font-size: 3.5rem;
    margin-bottom: 30px;

}
.home-header h3
{
    margin-bottom: 35px;
}
.logo,h2,h3
{
    font-family: "Montserrat", sans-serif;
}
.home-icon
{
    background-color: black;
    border: 2px black solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}
.about
{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about .image
{
    position: relative;
    z-index: 5;
}
.about .image::after
{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -25px;
    bottom: -30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -3;
}
.info h2
{
    font-weight: 800;
    margin-bottom: 5px;
}
.brief
{
    font-size: 1.2rem;
}
.progress-bar
{
    position: relative;
    font-size: 1.5rem;
    padding-top: 4px;
}
h6.first::after {
    content: '95%';
    position: absolute;
    right: 8px;

  }
h6.second::after {
    content: '80%';
    position: absolute;
    right: 8px;

  }
h6.third::after {
    content: '90%';
    position: absolute;
    right: 8px;

  }
.btn1
  {
    background-color: black;
    color: white;
    padding-inline: 20px;
    padding-block: 8px;
  }
div.buttons .btn1{
    transition: background-color .5s , color .5s;
  }
div.buttons .btn1:hover{
    background-color: white ;
    color: black;
  }
.services
{
    background-color: var(--dgrey);
}
.services h2
{
    padding-top: 80px;
    padding-bottom: 60px;
    position: relative;
    z-index: 4;
} 
.services h2::before
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
    width: 11%;
    margin-inline: auto;
    height: 30px;
    z-index: -1;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
}
.ser-icon 
{
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--dgrey);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    /* margin-top: 48px;
    margin-bottom: 22px; */
    transition: background-color 1s , color .3s;

} 
.services .content:hover .ser-icon
{
    background-color: black;
    color: white;
}
.content
{
    padding-top: 48px;
    padding-bottom: 22px;
}
.content h3
{
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}
.content p
{
    line-height: 1.6;
    color: #748182;
    font-size: 18px;
    margin-bottom: 35px;
}
.portfolio h2
{
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: 800;
    font-size: 40px;
    position: relative;
    z-index: 4;
}
.portfolio h2::after 
{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 14%;
    margin-inline: auto;
    height: 30px;
    z-index: -1;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
}
portfolio-content .layer
{
 border: 4px solid grey;
 background-color: white;
 overflow: hidden;
}
.portfolio-content
{
    position: relative;
}
.portfolio-layer
{
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 4px;
    right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .8s;
}
.portfolio-card:hover .portfolio-layer
{
    opacity: 1;
}
.p-icon
{
    background-color: black;
    color: white;
    width: 33px;
    height: 33px;
    border: 1px black solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 1s;
}
.icons .p-icon:hover
{
    background-color: white;
    color: black;

}
.testimonial,.team
{
    background-color: var(--dgrey);
}
.testimonial h2,.team h2,.contact h2
{
    position: relative;
    z-index: 2;
}
.testimonial h2::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    width: 19%;
    margin-inline: auto;
    height: 30px;
    z-index: -1;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    
}
.test-head,.team h2 , .contact-header h2
{
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 40px;
}
.test-item img
{
    width: 100px;
    border-radius: 50%;
}
.test-item p, .test-item h5
{
    color: #748182;
}
.test-item h5
{
    font-size: 16px;
    padding-bottom: 20px;
}
.carousel-indicators
{
    position: static;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.carousel-indicators [data-bs-target]
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    margin-inline: 5px;
}
.dynamic
{
    margin-bottom: 80px;
}
.num, .dynamic i
{
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0;
}
.feedback
{
    margin: 0;
    font-size: 20px;
    color: #565757c4;
}
.desc
{
    background-color: #5b5b5b;
}
.team h2::after,.contact h2::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    width: 16%;
    margin-inline: auto;
    height: 30px;
    z-index: -1;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    
}
.contact-icon
{
    background-color: var(--dgrey);
    border: 1px solid transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    transition: all 1s;
}

.contact-icon i
{
    font-size: 28px;
    color: #5b5b5b;
}
.contact-card:hover .contact-icon 
{
    background-color: black;
}
.contact-card:hover .contact-icon i
{
    color: white;
}
.contact-card h3
{
    font-weight: 700;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.592);
}
.contact-card p
{
    line-height: 1.6;
    margin: 0;
    font-size: 19px;
    color: #748182;
}
.inp
{
    background-color: #74818216;
    border: 1px solid transparent;
    border-radius: 1%;
    padding-inline: 10px;
    padding-block: 8px;
}
.contact button
{
    background-color: black;
    color: white;
    width: 10%;
    margin-left: 160px;
    border: 1px solid black;
    transition: all 1s;
    border: 1px solid black;

}
.contact button:hover .contact .btn
{
   
    background-color: white;
    color: black; 
}
footer p
{
    color: #748182;
}
.layer
{
    background-color: white;
}
.img-area
{
    position: relative;
}
.card-layer
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: transform .5s , opacity .5s;
    transform: rotateY(180deg) scale(.5, .5);
}
.team-card:hover .card-layer
{
    opacity: 1;
    transform: rotateY(0deg) scale(1 , 1);
   
}
.img-area:hover .card-layer
{
    opacity: 1;
    transform: rotateY(0deg) scale(1 , 1);
}
.img-area img
{
    transition: transform 1s;
}
.team-img
{
    overflow: hidden;
}
.img-area:hover img{
    transform: scale(1.2);
}
.card-icon
{
    background-color: black;
    border: 2px black solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
    transition: background-color 1s;
}
.card-layer .card-icon:hover 
{
    background-color: white;
    color: black;
}
.contact .inp:focus 
{
    outline-width: 0;
}
.home-header h3::after
{
    content: "";
    animation: typing 2s infinite;
}
@keyframes typing
{
    0%
    {
        content: '|';
    }
    5%
    {
        content: 'D |';
    }
    10%
    {
        content: 'De |';
    }
    15%
    {
        content: 'Des |';
    }
    20%
    {
        content: 'Desi |';
    }
    25%
    {
        content: 'Desig |';
    }
    30%
    {
        content: 'Design |';
    }
    35%
    {
        content: 'Designe |';
    }
    40%
    {
        content: 'Designer |';
    }
    45%
    {
        content: 'Designe |';
    }
    50%
    {
        content: 'Design |';
    }
    55%
    {
        content: 'Desig |';
    }
    60%
    {
        content: 'Desi |';
    }
    65%
    {
        content: 'Des |';
    }
    70%
    {
        content: 'De |';
    }
    75%
    {
        content: 'D |';
    }
    100%
    {
        content: ' |';
    }


}

